body{
 background-color: rgba(196, 154, 106, 0.788);
 color:rgba(32, 32, 30, 0.937);
}

output {
    color: rgba(26, 26, 26, 0.937);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    background-color: rgb(192, 153, 122);
}

button {
    background-color: rgb(160, 110, 17);
    color:hwb(60 99% 0% / 0.937);
    padding: 12px;
    border-radius: #b6a9a9;
    border:rgb(133, 108, 40);
    margin: 15px;
    font-size: larger;
    
}

