body{
    
.caixa-destaque{
        background-color: rgb(255, 255, 255);
        color:rgb(60, 96, 167);
        border-radius: 20px;
        padding-inline: 30px;
    }
 background-color: rgba(34, 34, 34);
 color:rgb(255, 255, 255);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-style: oblique;
 font-size: medium;
 
}
output {

    color: rgba(14, 17, 17);
    font-style: oblique;
    border-radius: 25px;
    font-family: Verdana;
    font-size: medium;
    background-color: rgb(255, 255, 255);
    padding-inline-start: 10px;
    scroll-padding-inline-end: 10px;
}
button {
    background-color: rgb(255, 158, 0);
    color:rgba(255, 255, 252, 0.937);
    padding: 10px;
    border:rgb(255, 72, 0);
    border-style:outset;
    border-radius: 25px;
    margin: 8px;
    font-size: medium;
    cursor: pointer;
    
}